In [1]:
import numpy as np
import pandas as pd

In [4]:
file_path = '../Results/Evaluation/'

df1=pd.read_excel(file_path+'spec1_random_500_20251110_180802.xlsx')
df2=pd.read_excel(file_path+'spec2_recent_500_20251110_181330.xlsx')
df3=pd.read_excel(file_path+'spec3_recent_500_plus_10q_20251110_182010.xlsx')
df4=pd.read_excel(file_path+'spec4_persona_plus_10q_20251110_182428.xlsx')

In [6]:
df1['spec']=1
df2['spec']=2
df3['spec']=3
df4['spec']=4
df_all=pd.concat([df1,df2,df3,df4],ignore_index=True)
df_all.columns

Index(['test_id', 'quarter', 'date', 'analyst', 'question',
       'ground_truth_answer', 'generated_answer', 'prompt_tokens',
       'examples_used', 'similarity', 'gen_to_gt_label', 'gen_to_gt_score',
       'gt_to_gen_label', 'gt_to_gen_score', 'tone_alignment', 'gt_tone_label',
       'gen_tone_label', 'spec', '10q_summary_included',
       'persona_summary_included'],
      dtype='object')

In [18]:
df_all.groupby('spec').agg({'similarity':['mean','std','median']}).round(3)

     similarity
           mean    std median
spec
1         0.807  0.070  0.814
2         0.784  0.084  0.792
3         0.774  0.081  0.770
4         0.815  0.067  0.828

In [19]:
# Perform the groupby operation
similarity_result = df_all.groupby('spec').agg({'similarity':['mean','std','median']}).round(3)

# Convert the result to LaTeX format
latex_output = similarity_result.to_latex()

# Write the LaTeX string to a .tex file
with open(file_path+'similarity_result.tex', 'w') as tex_file:
    tex_file.write(latex_output)

In [13]:
df_all.groupby(['spec', 'gen_to_gt_label', 'gt_to_gen_label']).size()

spec  gen_to_gt_label  gt_to_gen_label
1     contradiction    entailment          2
                       neutral             1
      entailment       entailment          1
      neutral          entailment         13
                       neutral            26
2     contradiction    neutral             2
      entailment       neutral             1
      neutral          entailment         15
                       neutral            25
3     contradiction    entailment          1
                       neutral             1
      entailment       neutral             2
      neutral          entailment         16
                       neutral            23
4     contradiction    entailment          1
                       neutral             3
      entailment       entailment          1
      neutral          entailment         17
                       neutral            21
dtype: int64

In [17]:
df_all.groupby('spec').agg({'tone_alignment': ['mean', 'std', 'median']}).round(3)

     tone_alignment
               mean    std median
spec
1             0.518  0.331  0.484
2             0.451  0.302  0.452
3             0.470  0.343  0.385
4             0.455  0.290  0.392

In [21]:
# Perform the groupby operation
tone_alignment_result = df_all.groupby('spec').agg({'tone_alignment': ['mean', 'std', 'median']}).round(3)

# Convert the result to LaTeX format
latex_output = tone_alignment_result.to_latex()

# Write the LaTeX string to a .tex file
with open(file_path+'tone_alignment_result.tex', 'w') as tex_file:
    tex_file.write(latex_output)